<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<footer>

    <section data-bs-version="5.1" class="footer3 cid-uf1PQ70XCL" once="footers" id="footer03-0">
  
  
  
  
  
          <div class="container">
              <div class="row">
                  <div class="row-links">
                      <ul class="header-menu">
                          <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="{% url 'terms' %}" class="text-black text-primary">Terms and conditions</a>
                          </li>
                          <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="{% url 'policy' %}" class="text-black text-primary">Privacy Policy</a>
                          </li>
                          <li class="header-menu-item mbr-fonts-style display-5">
                              <a href="http://127.0.0.1:8000/#contact" class="text-black text-primary">Contact Us</a>
                          </li>
                          <li class="header-menu-item mbr-fonts-style display-5"><a href="http://127.0.0.1:8000/#feedback"
                                  class="text-primary">Feedback</a></li>
                      </ul>
                  </div>
  
                  <div class="col-12 mt-4">
                      <div class="social-row">
                          <div class="soc-item">
                              <a href="https://facebook.com/" target="_blank">
                                  <span class="mbr-iconfont socicon socicon-facebook display-7"></span>
                              </a>
                          </div>
                          <div class="soc-item">
                              <a href="https://twitter.com/" target="_blank">
                                  <span class="mbr-iconfont socicon-twitter socicon"></span>
                              </a>
                          </div>
                          <div class="soc-item">
                              <a href="https://instagram.com/" target="_blank">
                                  <span class="mbr-iconfont socicon-instagram socicon"></span>
                              </a>
                          </div>
                          <div class="soc-item">
                              <a href="https://linkedin.com/" target="_blank">
                                  <span class="mbr-iconfont socicon socicon-linkedin"></span>
                              </a>
                          </div>
                          <div class="soc-item">
                              <a href="https://teitch.com/" target="_blank">
                                  <span class="mbr-iconfont socicon socicon-twitch"></span>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 mt-5">
                      <p class="mbr-fonts-style copyright display-7">
                          © 2024 IBT Program. All trademarks are the property of their respective owners.
                      </p>
                  </div>
              </div>
          </div>
    </section>
  </footer>
  <input name="cookieData" type="hidden" data-cookie-cookiesAlertType='false' data-cookie-customDialogSelector='null'
  data-cookie-colorText='#424a4d' data-cookie-colorBg='rgb(255, 255, 255)' data-cookie-opacityOverlay='0'
  data-cookie-bgOpacity='100' data-cookie-textButton='GOT IT' data-cookie-rejectText='REJECT'
  data-cookie-colorButton='#90BE6D' data-cookie-rejectColor='#ffffff' data-cookie-colorLink='#424a4d'
  data-cookie-underlineLink='true'
  data-cookie-text="We use cookies to give you the best experience. Read our <a href='privacy.html'>Cookie policy</a>.">
  <input name="animation" type="hidden">
</html>
